<!DOCTYPE html>

<html>
  <head>

    <title>Bowling</title>
    <link rel="stylesheet" type="text/css" href="./main.css" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="../src/Bowling.js"></script>
    <script type="text/javascript" src="./interface.js"></script>

  </head>

  <body>

    <div class="table">
      <table>
        <tr id="frames">
          <th id="tableHeadings">Frame</th>
        </tr>
        <tr id="1Roll">
          <th id="tableHeadings">1st Roll</th>
        </tr>
        <tr id="2Roll">
          <th id="tableHeadings">2nd Roll</th>
        </tr>
      </table>
    </div>

    <div id="pinsControl">
      <p id="pins"></p>
      <button type="button" id="increasePins">+</button>
      <button type="button" id="Roll">Roll!</button>
    </div>

  </body>
</html>
